.success-container {
    cursor: pointer;

    /* position: fixed;
    display: block;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%; */

    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding-bottom: 50px;
    text-align: center;
}
