.card {
    position: relative;

    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 370px;

    background-color: #ffffff;

    text-align: center;
    border-radius: 10px;
}

.image {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    width: 100%;
}

.name {
    /* margin-bottom: 20px; */
    width: 100%;
}

.fixed-size {
    /* width: 80%; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info {
    width: 100%;
}

.position {
    width: 100%;
    height: 26px;
}

.email {
    width: 100%;
    height: 26px;
}

.phone {
    width: 100%;
    height: 26px;
}
