.app {    
    background-color: #f8f8f8;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
}

.separate140px {
    margin-top: 140px;
    width: 100%;
}
