.employes {
    margin-top: 140px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    
}

.sign-up {
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
}