.enter {
    height: 650px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/images/pexels-alexandr-podvalny1170.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 380px;

    margin: 0 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #ffffff;
    text-align: center;
}

.header {
    margin-bottom: 21px;
}

.message {
    margin-bottom: 32px;
}


@media screen and (max-width: 1024px) {
    .enter {
        
    }
}

@media screen and (max-width: 768px) {
    .enter {
        height: 500px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/images/pexels-alexandr-podvalny768.webp');
    }
}

@media screen and (max-width: 360px) {
    .enter {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/images/pexels-alexandr-podvalny360.webp');
    }
    .content {
        width: 100%;    
    }
}